/**
 * partials/footer
 * ---
 */


.footer {
    height:23vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5555+0,ff3535+100 */
background: #ff5555; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #ff5555 0%, #ff3535 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, #ff5555 0%,#ff3535 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, #ff5555 0%,#ff3535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5555', endColorstr='#ff3535',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.footer .footer-logo-img {
     width:150px;
     left:12px;
     border-left:6px solid #FFF;
     padding:0px 6px;
}
