/**
 * modules/fonts
 * ---
 * Declare fonts here
 */



@font-face {
  font-family: "Qanelas";
  src: url("fonts/Qanelas-Regular.eot");
  src: url("fonts/Qanelas-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Qanelas-Regular.woff") format("woff"),
    url("fonts/Qanelas-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Qanelas-MediumItalic";
  src: url("fonts/Qanelas-MediumItalic.eot");
  src: url("fonts/Qanelas-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Qanelas-MediumItalic.woff") format("woff"),
    url("fonts/Qanelas-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}


    p {
        font-size:1em;
    font-family: 'Open Sans', sans-serif !important;
    }

    article.page p {
     color:#424242;
    }

    h1.title-voil, .titles-voil span  {
        color:#ff5555;
        text-align: left;
    }
    .titles-voil span{
         font-style:italic;
         font-family: 'Raleway', sans-serif;
         font-weight:300;
         font-size:1.5em;
    }
    .content-voil p:first-letter{
         font-size:2em !important;
    }

@media only screen and (min-width:320px)
and (max-width:400px){
    h1.title-voil {
        line-height:6.2vh !important;
    }
    article.page p {
    font-family: 'Open Sans', sans-serif;
     font-size:11px !important;
    }
}

@media only screen and (min-width:400px)
and (max-width:700px){
    h1.title-voil {
        line-height:11.2vh !important;
        color:red;
    }
}

@media only screen and (min-width:700px) {
    p {
         font-size:1.2em !important;
    }
    h1.title-voil {
        font-size:3em !important;
        text-align:left !important;
        line-height:3.2vh !important;
        color:#ff5555 !important;
    }
     .content-voil p{
        font-size:1em !important;
        line-height:28px;
    }
    .show-title-voil {
        color:#ff5555 !important;
    }

}
