/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */
//-- typo:start --//
$font-family-base: 'Raleway', sans-serif; //300 italic, 400, 600
$font-family-open: 'Open Sans', sans-serif ; //300 italic, 400
//-- typo:end --//
$font-size-base: 140%;
$line-height-base: 1.5;


/**
 * Colors
 */
//-- colors:start --//
$text-color: #444;
$body-bg: #fff;
$selection-bg: #ff5555;
//-- colors:end --//


/**
 * Grid
 */

$wrapper-width: 100%;


$padding-horizontal-base: 0px;
$padding-vertical-base: 0px;
$margin-horizontal-base: 0px;
$margin-vertical-base: 0px;
$margin-horizontal-large: 0px;
$margin-vertical-large: 0px;
