/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

/* Modules */
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

/* Partials */
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/lang";
@import "partials/nav";
@import "partials/tab";
@import "partials/prel";
@import "partials/menur";
@import "partials/menur-trigger";
@import "partials/preload";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";


@media only screen and (min-width:700px) {
    article.page {
    }
    .content-voil > * {
    }
    .content-voil {
        float:right !important;
        lost-column:4/8;
        width:44% !important;
        lost-move:4/8;
    }
    p ~ .content-voil {
    }
    h1.title-voil {

    }
    section img.attachment-post-thumbnail {
         lost-column:4/8 1;
         lost-move:-4/8;
        padding-top:8px !important;
        /*float:left !important;*/
    }
    /*section h1 {*/
        /*lost-column:3/6 1;*/
        /*text-align:left;*/

        /*font-size:4em !important;*/
        /*padding:35px 0px 15px !important;*/
    /*}*/
    .frm-show-form .frm_form_fields  fieldset {
    width:45% !important;
    }
    .titles-voil {
  /*position: absolute;*/
  /*width: 43vw !important;*/
  lost-column:4/8;
  lost-move:3.5/8;
  border-left: 8px solid #5f5555;
  padding-top:8px !important;
}
.lang-menu {
  //lost-column:4/8 flex !important;
  //lost-move:3.5/8 !important;
  position: absolute;
  right:60px;
}
    }
    @media only screen and (min-width:900px) {
    .titles-voil {
  /*position: absolute;*/
  /*width: 43vw !important;*/
  lost-column:4/8;
  lost-move:3.6/8;
  border-left: 8px solid #5f5555;
  padding-top:8px !important;
}
         
    }
body {
    font-family: 'Raleway', sans-serif;
    height:100%;
}
nav {

    background: linear-gradient(258deg, #ff5555, #fb2a2a, #ff5555);
background-size: 600% 600%;

-webkit-animation: AnimationName 9s ease infinite;
-moz-animation: AnimationName 9s ease infinite;
-o-animation: AnimationName 9s ease infinite;
animation: AnimationName 9s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
}
html{
    height:100%;
     
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 1em;
}

h3, a, p {
  color: #FFF;
}

h3, p {
  padding:0px 8px;
}

h3 {
  font-size: 1em;
}

header {
  display: none;
  align-items: center;
  margin-bottom: 12px;
}

h1, h2, h3 { 
    margin: 0;
    /*text-align: center;*/
    text-transform:uppercase;
}

.lide-img {
    width: 100vw;
    padding:0px;
    
}
.bxslider {
    padding:0px; 
    margin:0px; 
}

.hide {
     display:none;
}

.social-vl {
     display:flex;
     align-items:center;
     justify-content:center;
     margin: auto 0;
     width:100%;
     i {
         margin:8px;
         color:#fff;
         padding:5px;
         &:hover {
             cursor:pointer;
             color:tomato;
         }
     }
}

    .sub-menu {
       //transform:translateY(-123px);
       overflow: hidden;
       height: 0px;
      transition: all 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);

    }

.menu-item-has-children:hover {
    .sub-menu {
       height: 130px;
      transition: all 0.3s cubic-bezier(0.52, 0.55, 0.55, 1);
       //transform:translateY(123px);
    }
}

body > .wrapper {
  /*display: none;*/
}

body.pg-loaded > .wrapper {
  display: block;
}

.pg-loading-logo-header {
     height:100vh;
}

.pg-loading-logo {
    width: 230px;
    position:absolute;
    top:50%;
    right:66%;
    left:33%;
    bottom:50%;
}

.bxslide img {
     width:100vw;
}

.white-wrapper {
    background-color: #FFF;
}

.pager-wrapper {
    /*display: none;*/
}

.bx-viewport {
}

.top-panel {
     background-color:#fff;
     height: 130vh;
     width:100vw;
     position:absolute;
     top:50vh;
     z-index:444;
}

.top-panel:after {
     content:'';
     background-color:blue;
     position:absolute;
     top:0;
}

.page main  {
    background-color: #FFF;
}

.page h1 {
     margin:0px;
     padding:7px;
     /*font-size:1.6em;*/
}

.frm-show-form .frm_form_fields  fieldset {
     width:85%;
     margin:auto;
}

.page .attachment-post-thumbnail {
    /*lost-column:6/6 ;*/
    padding:0px 8px;
    margin-right:0px !important;
}

.frm-show-form .frm_form_fields  fieldset {
    //lost-column:5/6 2px;
    width:100%;
    margin:auto;
    padding:12px;
    background-color: #FFF;
}

.form-vv {
    //lost-align:center;
}

article.page p {
     margin:0px;
     padding-top:8px;
     float:right;
     span {
        font-weight: 400;
        letter-spacing: 0.2px;
        word-spacing: -1.8px;
        font-size: 15px;
     }
}

q, blockquote {
  margin: 0;
  font-size: 1em;
  color: #fff;
  font-style: italic;
  @include pull-quote($offset: -0.2em -0.6em){
    color: rgba(#fff, 0.7);
    font-family: 'Times New Roman';
  };
}

@media  (min-width:1200px) {
    article.page {
        /*background-color: rgba(233,233,33,.5);*/
    }
    section h1 {
    }
    .titles-voil {
  /*position: absolute;*/
  /*width: 43vw !important;*/
  lost-column:4/8;
  lost-move:4/8;
  border-left: 8px solid #5f5555;
  padding-top:8px !important;
  padding-left:4em !important;
}
.content-voil > *{
    padding-bottom:12px;
}
.content-voil p{
float: right;
clear: both;
margin-bottom: 2em;
font-size: 1.4em !important;
/*line-height: 1.5em; */
}
.content-voil p:first-child {
 order:1;
 lost-column:3/6;
 /*lost-move:1/4;*/
}
.content-voil {
    width:33vw !important;
}
.art-info-voil {
    lost-move:-2.5/8;
    padding-top:12px;
    display:flex;
    flex-flow:column;
     order:0;
}
}

main[role="main"] {
}
article {
  lost-aign:right;
  height:auto;
}

.titles-voil {
  /*background-color: rgba(255, 85, 85, 1);*/
  /*position: absolute;*/
  /*lost-column:6/6;*/
  max-height:13%;
  right: 0px;
  border-left: 8px solid rgba(233, 236, 236, 1);
  float: right !important;
  margin:4px 8px !important;
  clear:left;
  overflow:hidden;
}
.titles-voil p{
    margin:0px;
}

.content-voil { 
    display:flex;
    flex-flow:column;
    width:100%;
    & > p {
        color:red;
    }
    .embed-container {
        height:222px;
    }
}

.art-info-voil {
     order:0;
}

.content-voil p:first-child {
    lost-column:3/3;
 order:1;
}

.content-voil .embed-container {
     order:2;
}

.content-voil .psgal {
     order:3;
}

h1.title-voil, .titles-voil span  {
    padding:0px;
    margin:0px;
    position:relative;
    top:0px;
    right:0px;
}
h1.title-voil {
     padding:5px;
     line-height:6vh;
}
 .titles-voil span{
    text-align: right;
}

.show-title-voil {
     font-weight:500;
     letter-spacing:.4px;
     font-family: Qanelas-MediumItalic;
}

footer {
    background-color:#ff5555;
    /*lost-column:3/3;*/
    width:100vw;
    display:flex;
    flex-flow:row-reverse nowrap;
    align-items:center;
    height:36vh;
}

footer .social {
     display:flex;
     flex-flow:row;
     justify-content:flex-end;
     align-items:center;
     li i {
         padding: 0px 12px;
         color:#FFF;
     }
}
.post-edit-link {
    clear:left !important;
}
.prel {
     background-color:#ff5555;
     height:100vh;
}

.lang-item a {
     color:#ff5555;
}

ul.lang-menu {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    z-index:4545;
}
ul.lang-menu li {
    text-align: center;
    margin-right:6px;
}
.lang-item-slug {
    padding:0px 0px 0px 0px;
    font-size:1.3em;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        color:#424242; 
    }
}

.btn-group {
     position: absolute;
     width:50%;
     right:11px;
}
