/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */

/* Modules */
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

/* Partials */
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/lang";
@import "partials/nav";
@import "partials/tab";
@import "partials/prel";
@import "partials/menur";
@import "partials/menur-trigger";
@import "partials/preload";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";


@media  (min-width:700px) and (max-width:829px) {
    .art-info-voil {
         width:45%;
    }
}
@media  (max-width:700px) {
    .titles-voil {
        lost-column:4/5;
    }
}
@media only screen and (min-width:700px) {
    article.page {
    }
    .content-voil > * {
    }
    .content-voil {
        float:right !important;
        lost-column:4/8;
        lost-move:4/8;
    }
    p ~ .content-voil {
        background:lime;
    }
    h1.title-voil {

    }
    section img.attachment-post-thumbnail {
         /*lost-column:4/8 1;*/
         /*lost-move:-4/8;*/
        /*padding-top:8px !important;*/
        /*float:left !important;*/
    }
    /*section h1 {*/
        /*lost-column:3/6 1;*/
        /*text-align:left;*/

        /*font-size:4em !important;*/
        /*padding:35px 0px 15px !important;*/
    /*}*/
    .frm-show-form .frm_form_fields  fieldset {
    width:45% !important;
    }
    .titles-voil {
  /*position: absolute;*/
  /*width: 43vw !important;*/
  lost-column:4/8;
  lost-move:3.5/8;
  border-left: 8px solid #5f5555;
  padding-top:8px !important;
  margin-top:68px !important;
}
.art-info-voil {
   float:left !important; 
   margin-left:1em;
}
    }
    @media only screen and (min-width:900px) {
    .titles-voil {
  /*position: absolute;*/
  /*width: 43vw !important;*/
  lost-column:4/8;
  lost-move:3.6/8;
  border-left: 8px solid #5f5555;
  padding-top:8px !important;
}
         
    }
body {
    font-family: 'Raleway', sans-serif;
    height:100%;
}
nav {

    background: linear-gradient(258deg, #ff5555, #fb2a2a, #ff5555);
background-size: 600% 600%;

-webkit-animation: AnimationName 9s ease infinite;
-moz-animation: AnimationName 9s ease infinite;
-o-animation: AnimationName 9s ease infinite;
animation: AnimationName 9s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
@keyframes AnimationName {
    0%{background-position:72% 0%}
    50%{background-position:29% 100%}
    100%{background-position:72% 0%}
}
}
html{
    height:100%;
     
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 1.4em;
}
p{
    color:#424242;
}
h3, a  {
  color: #FFF;
}

h3, p {
  padding:0px 8px;
}

h3 {
  font-size: 1em;
}

.art-info-voil h3 {
     color:#424242;
}

header {
  display: none;
  align-items: center;
  margin-bottom: 12px;
}

h1, h2, h3 { 
    margin: 0;
    /*text-align: center;*/
    text-transform:uppercase;
}

.lide-img {
    width: 100vw;
    padding:0px;
    
}
.bxslider {
    padding:0px; 
    margin:0px; 
}

.hide {
     display:none;
}

.social-vl {
     display:flex;
     align-items:center;
     justify-content:center;
     margin: auto 0;
     width:100%;
     i {
         margin:8px;
         color:#fff;
         padding:5px;
         &:hover {
             cursor:pointer;
             color:tomato;
         }
     }
}

.menu-item-has-children  > .sub-menu{
    padding:0 12px;
        display:block;
        transform:translateX(-200%);
        height:0;
        opacity:0;
       overflow: hidden;
      transition: all 0.5s cubic-bezier(0.52, 0.55, 0.55, 1);

    }

 .menu-item-has-children:hover {
    .sub-menu {
        height:auto;
        opacity:1;
       transform:translateX(0%);
      transition: all 0.5s cubic-bezier(0.52, 0.55, 0.55, 1);
      li .sub-menu {
        transform:translateX(-200%);
        height:0;
      transition: all 0.5s cubic-bezier(0.52, 0.55, 0.55, 1);
      }
     .menu-item-has-children:hover {
         .sub-menu {
        height:auto;
        transform:translateX(0%);
      transition: all 0.5s cubic-bezier(0.52, 0.55, 0.55, 1);
         }
    }
}
}

body > .wrapper {
  /*display: none;*/
}

body.pg-loaded > .wrapper {
  display: block;
}

.pg-loading-logo-header {
     height:100vh;
}

.pg-loading-logo {
    width: 230px;
    position:absolute;
    top:50%;
    right:66%;
    left:33%;
    bottom:50%;
}

.bxslide img {
     width:100vw;
}

.white-wrapper {
    background-color: #FFF;
}

.pager-wrapper {
    /*display: none;*/
}

.bx-viewport {
}

.top-panel {
     background-color:#fff;
     height: 130vh;
     width:100vw;
     position:absolute;
     top:50vh;
     z-index:444;
}

.top-panel:after {
     content:'';
     background-color:blue;
     position:absolute;
     top:0;
}

.page main  {
    background-color: #FFF;

}
.is-open  {
}
.page .is-open::after  {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(255, 85, 85, 0.5);
    height:100%;
    width:99vw;
}
.home .is-open::after  {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(255, 85, 85, 0.5);
    height:100vh;
    width:99vw;
}

.page h1 {
     margin:0px;
     padding:7px;
     /*font-size:1.6em;*/
}

.frm-show-form .frm_form_fields  fieldset {
     width:85%;
     margin:auto;
}

.page .attachment-post-thumbnail {
    /*lost-column:6/6 ;*/
    margin-right:0px !important;
}

.frm-show-form .frm_form_fields  fieldset {
    //lost-column:5/6 2px;
    width:100%;
    margin:auto;
    padding:12px;
    background-color: #FFF;
}

.form-vv {
    //lost-align:center;
}

article.page p {
     margin:0px;
     padding-top:8px;
     float:right;
     span {
        font-weight: 400;
        letter-spacing: 0.2px;
        word-spacing: -1.8px;
        font-size: 15px;
     }
}

q, blockquote {
  margin: 0;
  font-size: 1em;
  color: #fff;
  font-style: italic;
  @include pull-quote($offset: -0.2em -0.6em){
    color: rgba(#fff, 0.7);
    font-family: 'Times New Roman';
  };
}

@media  (min-width:1200px) {

    main {
        lost-utility:clearfix;
    }
    section {
        min-height:500px;
    }
    .mask {
         background:yellow;
         height:100%;
    }
    .single-artist main {
        padding:2em;
    }
.single-artist  .feat-img {
     lost-column:2/4;
}
.single-artist section {
     lost-column:2/4;
}
.single-artist article .titles-voil, 
.single-artist article .content-voil {
     lost-row:2/4;
}
.single-artist article .content-voil {

}
.single-artist .scenario-list .parent-page {
     lost-column:2/4 2;
     position:relative;
}
.single-artist .scenario-list .parent-page a{
     background-color:rgba(255, 85, 85, 0.3);
     lost-align:center;
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     transition:background-color 300ms ease-out;
     &:hover {
     transition:background-color 300ms ease-in;
     background-color:rgba(255, 85, 85, 1);
     .back-decoration::after {
         transform:scale(2);
     }
     }
}
.single-artist .scenario-list .parent-page  a h1 {
     z-index:199;
}
.back-decoration{
    display:none;
     &::after {
     content:"";
     position:absolute;
     top:5%;
     left:5%;
     border:2px solid white;
     background-color:rgba(255, 85, 85, 0.3);
     width:90%;
     height:90%;
     z-index:377;
     }
}
.single-artist .scenario-list .parent-page img{
     width:100%;
     z-index:88;
     padding:0px;
}
.art-info-voil {
         
    }
    article.page {
        /*background-color: rgba(233,233,33,.5);*/
    }
    section h1 {
    }
    .titles-voil {
  /*position: absolute;*/
  /*width: 43vw !important;*/
  lost-column:4/8;
  lost-move:3/8;
  border-left: 8px solid #5f5555;
  padding-top:8px !important;
  padding-left:4em !important;
}
.content-voil > *{
    padding-bottom:12px;
    min-height:100%;
}
.content-voil p{
float: right;
line-height:1.6em;
font-size: 1.4em !important;
/*line-height: 1.5em; */
}
.content-voil p:first-child {
 lost-column:3/6;
 /*lost-move:1/4;*/
}
.content-voil {
    padding:20px;
}
.art-info-voil {
    lost-move:-2.5/8;
    display:flex;
    flex-flow:row;
    top:0;
}
}

main[role="main"] {
}
article {
 /* lost-aign:right;*/
  height:auto;
}

.titles-voil {
  /*background-color: rgba(255, 85, 85, 1);*/
  /*position: absolute;*/
  /*lost-column:6/6;*/
  max-height:13%;
  right: 0px;
  border-left: 8px solid rgba(233, 236, 236, 1);
  float: right !important;
  clear:left;
  overflow:hidden;
}
.titles-voil p{
    margin:0px;
}

.content-voil { 
    display:flex;
    flex-flow:column;
    & > p {
    }
    .embed-container {
        height:222px;
    }
}

.art-info-voil {
     float:right;
}

.tlab-voil {
     padding:12px 5px;
}
.content-voil p:first-child {
    lost-column:3/3;
}

.content-voil .embed-container {
}

.content-voil .psgal {
}

h1.title-voil, .titles-voil span  {
    padding:0px;
    margin:0px;
    position:relative;
    top:0px;
    right:0px;
}
h1.title-voil {
     padding:5px;
     line-height:6vh;
}
 .titles-voil span{
    text-align: right;
}

.show-title-voil {
     font-weight:500;
     letter-spacing:.4px;
     font-family: Qanelas-MediumItalic;
}

footer {
    background-color:#ff5555;
    /*lost-column:3/3;*/
    width:100vw;
    display:flex;
    flex-flow:row-reverse nowrap;
    align-items:center;
    height:36vh;
}

footer .social {
     display:flex;
     flex-flow:row;
     justify-content:flex-end;
     align-items:center;
     li i {
         padding: 0px 12px;
         color:#FFF;
     }
}
.post-edit-link {
    clear:left !important;
}
.prel {
     background-color:#ff5555;
     height:100vh;
}

.lang-item a {
     color:#ff5555;
}

ul.lang-menu {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    z-index:4545;
    flex-flow:row;
    position: absolute;
    right:4px;
}
ul.lang-menu li {
    text-align: center;
    margin:12px 6px 6px;
}
ul.lang-menu li a{
    background-color: #FFF;;
}
.lang-item-slug {
    padding:0px 0px 0px 0px;
    font-size:1.3em;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        color:#424242; 
    }
}

.lang-btn-group {
     position: absolute;
     right:60px;
}

#trigger {
     position:absolute;
     display:flex;
}



.entry p {
     color:#424242;
}

.art-info-voil > * {
    margin:5px;
    font-size:12px;
}
.art-info-voil span {
    color:#ff5555;
}
.home {
    main {
        padding-bottom:2em;
    }
    .title-artist {
        lost-row:2/2;
        background-color:#ff5555;
        h1 {
        color:#fff;
        padding:12px;
        }
    }
 .about-index , .artist-index, .title-artist h1 {
    width:80%;
    margin:auto;
}
    .artist-list-vv {
        lost-column:4/12 3;
    }
        .res-img {
            text-align:center;
        }
    .artist-item {
        padding-top: 2em;
        h1 {
            padding-top:1em;
        }
    }

    .about-index {
    padding:2em 0px;
    }
    .about-item .title-voil-entry {
         padding: 2em 0 0 0;
    }
}


.title-voil-entry , .view-article {
    color:#ff5555;
}
.show-selector {
    background-color: #FF5555;
    display:flex;
    a div {
        color:#FF5555;
    }
}


.show-selector > a {
background-color: #fff;
width:50%;
font-size:2em;
padding:12px;
text-decoration:none;
transition:background-color 300ms ease ;
&:hover {
    background-color: #FF5555;
    transition:background-color 300ms ease ;
    div {
        color:white;
    }
}
}

.post-type-archive-artist {
    section {
        width:80%;
        margin:auto;
        padding:2em 0;
        lost-utility:clearfix;
    }
    article {
        lost-column:4/12 3;
    }
    .title-artist {
        lost-row:2/2;
        background-color:#ff5555;
        h1 {
        color:#fff;
        padding:12px;
        width:80%;
        margin:auto;
        }
}
        .res-img {
            text-align:center;
        }
    .artist-item {
        padding-top: 2em;
         a{
            color:#ff5555;
        }

}
}
    ul.artist-childs {
        display:flex;
        padding:0;
        justify-content:center;
        li {
            margin-right:12px;
            width:30%;
            background-color:#FF5555;
            text-align: center;
            a{
                color:#FFF;
                text-transform: capitalize;
                &:hover {
                    text-decoration:none;
                }
            }
        }
    }
    h3.shows-voil {
        color:#424242;
        border-top:2px solid #ff5555;
        padding-top:12px;
    }
